<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>
  
  <targets>
    <target name="logfile" xsi:type="File" fileName="nlog1-json.txt" />
    <target name="logconsole" xsi:type="Console" />

    <target xsi:type="File" name="jsonFile" fileName="nlog-json.log">
     <layout xsi:type="JsonLayout">
         <attribute name="Scheme" layout="${event-properties:item=Scheme}" />
         <attribute name="Method" layout="${event-properties:item=Method}" />
         <attribute name="RemoteIP" layout="${event-properties:item=RemoteIP}" />
         <attribute name="Datetime" layout="${event-properties:item=DateTime}" />
         <attribute name="Path" layout="${event-properties:item=Path}" />
         <attribute name="Accept" layout="${event-properties:item=Accept}" />
     </layout>
    </target>


    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch" uri="http://localhost:9200/"
              index="Response_Log"
              documentType="Response_Doc">
       <!--
       <field name="mdlc_field" layoutType="System.Object">
          <layout xsi:type="JsonLayout" includeMdlc="true">
            <attribute name="Scheme" layout="${event-properties:item=Scheme}" />
            <attribute name="Method" layout="${event-properties:item=Method}" />
            <attribute name="RemoteIP" layout="${event-properties:item=RemoteIP}" />
            <attribute name="Datetime" layout="${event-properties:item=DateTime}" />
            <attribute name="Path" layout="${event-properties:item=Path}" />
            <attribute name="Accept" layout="${event-properties:item=Accept}" />
          </layout>
        </field>
      -->
       <field name="mdlc_field" layout ="${event-properties:item=Scheme}"/>
      </target>
    </target>
  </targets>

  <rules>
     <logger name="*" minlevel="Debug" writeTo="jsonFile" />
     <logger name="*" minlevel="Debug" writeTo="elastic" />
  </rules>

</nlog>